/* Style The Dropdown Button */
.dwnbtn {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 4px;
	transition: 0.5s;
	margin-top: 10px;
	border: 2px solid #8000E6;
	background: #8000E6;
	color: #fff;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dwnbtn:hover {
	background: #fff;
	border-color: #8000E6;
	color: #8000E6;
}