#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}


.cnt223 a {
    text-decoration: none;
}

.cnt223 h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.cnt223 h1 span {
    color: #8000E6;
  }

.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
}

.cnt223 {
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    background: #0c0c0c;
    position: relative;
    z-index: 103;
    padding: 15px 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    border-style: groove;
    border-color: #8000E6;
}

.cnt223 p {
    clear: both;
    color: rgba(255, 255, 255, 0.555);
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.cnt223 p .close {
    color: rgba(255, 255, 255, 0.918);
    font-weight: normal;
}

.cnt223 .x {
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}

.cnt223 .x:hover {
    cursor: pointer;
}

.cnt223 .img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

/* Style The Button */
.popup .btn {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 4px;
	transition: 0.5s;
	margin-top: 10px;
	border: 2px solid #8000E6;
	background: #8000E6;
	color: #fff;

}

.popup .btn:hover {
	border-color: #8000E6;
	color: #8000E6;
}